.page-not-found {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.backButton {
    height: 10%;
    width: 20%;
    font-size: small;
    border-radius: 20px;
}