.App {
  display: flex;
  flex-direction: column;
}

.main-container {
  border: 1px solid black;
  border-radius: 2em;
  height: 75%;
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
