.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('../../images/beerbottlesbackground.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow-y:auto
}

.top-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  justify-content: space-around;
}

/*Mobile Sizes*/
@media screen and (max-width: 425px) {
  .App {
    width: 100%;
  }
}