.main,
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.main {
    border: 1px solid black;
    border-radius: 2em;
    height: 75%;
}

.form-container {
    justify-content: center;
    padding-bottom: 2em;
}

.page-selection>button {
    margin-right: 5px;
}

.card-grid {
    display: grid;
    gap: 2em;
    margin-top: 1em;
}

/*Mobile Sizes*/
@media screen and (max-width: 425px) {
    .card-grid {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
}

/*laptop and tablet size*/
@media screen and (min-width: 426px) {
    .card-grid {
        grid-template-columns: repeat(5, 1fr);
        min-width: 426px;
    }
}