.card {
    border: 3px solid black;
    border-radius: 10px;
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    padding: 0px 5px 0px;
    background-color: white;
}

.card:hover {
    box-shadow: 5px 5px 10px black;
}