.header {
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.logo {
    width: 8vh;
    margin-inline: 1em;
}

.title{
    color: rgb(255, 255, 255);
    font-size: 2.75em;
    font-family: 'Courier New', Courier, monospace;
}
